#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.navbar{
  background: #000;
  color: #fff;
  text-decoration: none;
  padding: 5px 2rem;
  display: flex;

}
li {
  list-style-type: none;
  text-align: left;
}